amqp
appdirs
arabic-reshaper
asgiref
asn1crypto
async-timeout
autopep8
beautifulsoup4
billiard
braintree
CacheControl011
cachetools5
celery
celery-decorator-taskcls
certifi
cffi11
chardet5
charset-normalizer2
click8
click-didyoumean0
click-plugins1
click-repl0
colorama0
contextlib220
cryptography31
cssselect20
dateparser1
defusedxml0
Deprecated13
diff-match-patch2713
distlib0
distro1
Django4
django-allauth00
django-autoslug1
django-bootstrap42django-braces10
django-celery-beat2
django-celery-results2
django-ckeditor6
django-cors-headers30
django-countries7
django-crispy-forms10
django-debug-toolbar3
django-discover-runner1jango-environ0
django-extensions3
django-file-form3
django-filter2django-import-export3
django-js-asset2
django-model-utils4
django-mptt00
django-mysql4
django-quill0
django-rename-app0
django-role-permissions3
django-social-share2
django-tables22
django-taggit3
django-timezone-field5jango-tinymce3
django-widget-tweaks12
djangorestframework30
djangorestframework-simplejwt5
et-xmlfile1
fake-factory99.9
Faker11
fcm-django12
filelock3
firebase-admin5
future02
google-api-core22
google-api-python-client20
google-auth20
google-auth-httplib20
google-cloud-core2
google-cloud-firestore2
google-cloud-storage2
google-crc32c1
google-resumable-media2
googleapis-common-protos14
grpcio10
grpcio-status10
html5lib1ttplib204
idna3paddr2
jdcal1
jet-bridge-base1
jet-django1
kombu41
lockfile02
lxml4
Markdown3
MarkupPy1msgpack1
oauthlib3
odfpy1
openpyxl30
oscrypto1
packaging2pep51700
Pillow9
platformdirs2
postgres4rogress1rompt-toolkit2
proto-plus11
protobuf48
psycopg2-binary2
psycopg2-pool1yasn10
pyasn1-modules0
pycodestyle2
pycparser2pyfcm1
pyHanko01
pyhanko-certvalidator06
PyJWT2
pyparsing3
PyPDF221
PyPDF31
python-bidi0
python-crontab2
python-dateutil2
python-gettext4ython-slugify6
python3-openid3
pytoml01
pytz24
pytz-deprecation-shim0.post0
PyYAML6rcode7
redis4
regex23.2
reportlab32
requests21
requests-oauthlib1
retrying1
rsa4entry-sdk11
six10
social-auth-core4
soupsieve2.post1
SQLAlchemy12
sqlparse0
sslcommerz-lib1vglib1
tablib3
text-unidecode1inycss21
tomli2
tqdm41
typing_extensions4
tzdata25
tzlocal4ritemplate4
uritools4
urllib3112
vine1
virtualenv2.6
wcwidth0
webencodings0
whitenoise6
wrapt12
xhtml2pdf0
xlrd2
xlwt1
