*{
    padding: 0;
    margin: 0;
}
.search-popup{
display: none;
position: absolute;
height: 100%;
width: 100%;
}
.search-popup::before{
position: absolute;
content: "";
height: 100%;
top: -50px;
width: 100%;
background-color: black;
opacity: 0.7;
z-index: 6;
}
h3{
color: black;
}
.search-pop{
position: absolute;
width: 60%;
height: 50%;
top: 50%;
left: 50%;
transform: translate(-50%, -75%);
background-color: white;
border-radius: 12px;
z-index: 7;
}
.head-search{
    position: relative;
    color: black;
}
.head-search .content{
font-weight: 100;
padding: 25px;
}
.head-search .times{
position: absolute;
top: 15px ;
color: #d4d4d4;
font-weight: 200;
right: 20px;
font-size: 40px;
cursor: pointer;
}
.search-body{
    padding: 20px;
    justify-content: center;
    justify-items : center;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 12px;
    height: 100%;
}
.search-body input{
    width: 100%;
    border: none;
    margin-left: 30px;
    outline: none;
}
.search-body input:focus{
    border: none;
}
.input{
    border: 1px solid #d4d4d4;
    background-color: white;
    border-radius: 5px;
    margin: 0 20px;
    position: relative;
}
.mag-lens{
    align-self: center;
    font-size: 30px;
    color: green;
    transform: rotate(-90deg);
    position: absolute;
    top: -2px;
    left: -10px;
}
#location-list{
    width: 100%;
}
.error-loction{
    text-align: left;
    padding: 5px 20px;
    color: red;
    margin-bottom: 5px;
}
.success-loction{
    text-align: left;
    padding: 5px 20px;
    color: green;
}
.current-location{
    border: 2px solid rgb(255, 145, 0);
    width: 20px;
    height: 20px;
    top: 10px;
    right: 5px;
    position: absolute;
    border-radius: 50%;
    line-height: 0;
}
.current-location::before{
    content: "+";
    top: 9px;
    left: 2px;
    font-size: 20px;
    color: red;
    position: absolute;
    color: red;
}
.top_location{
    position: relative;
}
.suggestProduct{
    position: absolute;
    background-color: white;
    padding: 10px;
    height: max-content;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 2;
}
.suggest-product{
    box-shadow: 0px 0px 2px #ffd182;
    border-radius: 12px;
    margin: 10px 0;

}   
.suggest-product:hover{
    box-shadow: 0px 0px 5px #ffd182;
}   
.suggest-product img{
    width: 100%;
}

.fix-in-area{
    display: none;
    position: fixed;
    bottom: 20px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}


@media (max-width:900px) and (min-width:500px){
}
@media (max-width:500px) and (min-width:100px){
.search-popup{
    position: absolute;
    height: 100%;
    width: 100%;
}
.search-pop{
    width: 90%;
    }
.mag-lens {
    left: 5px;
    }
.head-search .content {
font-size: 22px;
}
.fix-in-area{
    width: 90%;
}

}
