{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- title -->
        <title>Cart Page</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="author" content="">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/favicon" href="image/fevicon.png">
        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <!-- simple-line icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/simple-line-icons.css' %}">
        <!-- font-awesome icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <!-- themify icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
        <!-- ion icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}">
        <!-- owl slider -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
        <!-- swiper -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
        <!-- animation -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
        <!-- style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    </head>
    <body class="home-1">
        <!-- cart header -->
        <div class="cart-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Cart</h1>
                        <div class="change-address">
                            <ul>
                                <li><span class="save-add"><b>WORK</b></span>- <span class="current-add">{{useraddress.user_address}}</span></li>
                            </ul>
                            <a href="{% url 'auth_update_profile' %}" class="chng-add"><i class="ion-ios-location"></i> Change Address</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End cart header -->
        <!-- cart start -->
        <section class="cart-page section-tb-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <div class="cart-area">
                            {% for item in cartitems  %}
                            <div class="cart-details">
                                <div class="cart-all-pro">
                                    <div class="cart-pro">
                                        <div class="cart-pro-image">
                                            <a href="{% url 'productdetail' item.item.products.product_id %}"><img src="/media/{{item.item.products.prod_mainimage}}" class="img-fluid" alt="tajmahal.png" width="50"></a>
                                        </div>
                                        <div class="pro-details">
                                            <a href="{% url 'productdetail' item.item.products.product_id %}">{{item.item.products.product_name}}</a>
                                            <span class="pro-size"><span class="size"></span> {{item.item.net_content}}</span>
                                        </div>
                                    </div>
                                    <div class="qty-item">
                                        <div class="center">
                                            <div class="plus-minus">
                                                <span>
                                                    <a href="{% url 'removesingleitemfromcart' item.item.products.product_id %}" class="minus-btn text-black">-</a>
                                                    <input type="text" name="name" value="{{item.quantity}}">
                                                    <a href="{% url 'addtocart' item.item.products.product_id %}" class="plus-btn text-black">+</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="all-pro-price">
                                        <span>₹{{item.get_amount_saved|floatformat:2}}</span>
                                        <span class="sell_price">₹{{item.get_total_item_price|floatformat:2}}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <div class="cart-total">
                            <div class="cart-price">
                                <span><b>Summary</b></span>
                                {% comment %} <div class="d-flex">
                                    <span class="sell_price">₹186</span>
                                <span class="total">₹159</span>
                                </div> {% endcomment %}
                            </div>
                            <div class="cart-price">
                                <span>Product</span>
                                <div class="d-flex">
                                    <span class="sell_price">₹{{totalamount}}</span>
                                <span class="total color_green">₹{{totaldiscount|floatformat:2}}</span>
                                </div>
                            </div>
                             <div class="cart-price">
                                <span>Delivery</span>
                                <div class="d-flex">
                                    <span class="sell_price">₹20</span>
                                <span class="total color_green">₹{{delivery}}</span>
                                </div>
                            </div>
                            
                            <div class="shop-total">
                                <span><b>Total</b></span>
                                <span class="total-amount">₹{{grandtotal|floatformat:2}}</span>
                            </div>
                            <a href="#" class="check-link btn btn-style1">Continue to payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cart end -->
        <!-- jquery -->
        <script src="js/modernizr-2.8.3.min.js"></script>
        <script src="js/jquery-3.6.0.min.js"></script>
        <!-- bootstrap -->
        <script src="js/bootstrap.min.js"></script>
        <!-- popper -->
        <script src="js/popper.min.js"></script>
        <!-- fontawesome -->
        <script src="js/fontawesome.min.js"></script>
        <!-- swiper -->
        <script src="js/swiper.min.js"></script>
        <!-- custom -->
        <script src="js/custom.js"></script>
    </body>
</html>