{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- title -->
        <title>Cart Page</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="author" content="">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/favicon" href="image/fevicon.png">
        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <!-- simple-line icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/simple-line-icons.css' %}">
        <!-- font-awesome icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <!-- themify icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
        <!-- ion icon -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}">
        <!-- owl slider -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
        <!-- swiper -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
        <!-- animation -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
        <!-- style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    </head>
    <body class="home-1">
        <style>
            .loader{
            position: fixed;
            left: 40%;
            top: 35%;
            display: visible;
            background: transparent url("../static/css/slick/Rolling-loader-1.gif");
            z-index: 1000;
            height: 31px;
            width: 31px;
            }
        </style>
        <!-- login popup start here  -->
        <div class="login-sign-popup" id="login">
            <div class="login col-xl-6 col-lg-6 col-md-6 col-12">
            <div class="head-login">
                <h3 class="text-center content">Phone Number Verification</h3>
                <h3 class="times" onclick="hidePopLogin()">&times;</h3>
            </div>
            <div class="login-body">
                <p id="hide-num-text" >Enter your phone number to
                Login/Sign up</p>
                <p id="hide-otp-text" style="display: none;">Enter the OTP</p>
                <!-- <form action="" method="post"> -->
                <div class="default-box">
                    <div class="phone-box col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="phone-icon" id="hide-91">+91</div>
                    <input type="tel" class="inputfilter" allow="[0-9]" onkeyup="showGreenButton('button_submit',this,10)" 
                        maxlength="10" minlength="10" name="mobile" id="mobile" placeholder="Enter Number">
                    <input type="tel" class="inputfilter" style="display: none;" allow="[0-9]" onkeyup="showGreenButton('button_otp',this,6)"
                        maxlength="6" minlength="6" name="otp" id="otp" placeholder="Please Enter OTP">
                    </div>
                </div>
                <p class="error-loction" id="error_login"></p>
                <div class="default-box">
                    <button onclick="get_otp('mobile')" class="col-xl-6 col-lg-6 col-md-6 col-12" id="button_submit" disabled>Next</button>
                    <button onclick="verify_otp('otp')" style="display: none;" class="col-xl-6 col-lg-6 col-md-6 col-12" id="button_otp" disabled>Enter OTP</button>
                </div>
                <!-- </form> -->
                <p class="bellow-para">By continuing, you agree to our</p>
                <p class="extra-links"><a href="{% url 'terms_conditions' %}">Terms of service</a> <a href="{% url 'privacy_policy' %}">Privacy policy</a></p>
            </div>
            </div>
        </div>
  <!-- login popup end here  -->
        <!-- cart header -->
        <div class="cart-header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Cart</h1>
                        <div class="change-address">
                            <ul> {% if useraddress.user_address is None %}
                                    <li><span class="save-add"><b>Shipping Address</b></span>- <span class="current-add" id="c-address-1"></span></li>
                                {% else %}
                                    <li><span class="save-add"><b>Shipping Address</b></span>- <span class="current-add" id="c-address">{{useraddress.user_address}}</span></li>
                                {% endif %}
                            </ul>
                            <a href="{% url 'user-address-page' %}" class="chng-add"><i class="ion-ios-location"></i> Change Address</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End cart header -->
        <!-- cart start -->
        <section class="cart-page section-tb-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <div class="cart-area">
                            {% for item in object.items.all  %}
                            <div class="cart-details">
                                <div class="cart-all-pro">
                                    <div class="cart-pro">
                                        <div class="cart-pro-image">
                                            <a href="{% url 'productdetail' item.item.products.product_id %}"><img src="/media/{{item.item.products.prod_mainimage}}" class="img-fluid" alt="" width="50"></a>
                                        </div>
                                        <div class="pro-details">
                                            <a href="{% url 'productdetail' item.item.products.product_id %}">{{item.item.products.product_name}}</a>
                                            <span class="pro-size"><span class="size"></span> {{item.item.products.unit}}</span>
                                        </div>
                                    </div>
                                    <div class="qty-item">
                                        <div class="center">
                                            <div class="plus-minus">
                                                <span>
                                                    {% comment %} <a href="{% url 'removesingleitemfromcart' item.item.products.product_id %}" class="minus-btn text-black">-</a> {% endcomment %}
                                                    <a class="minus-btn text-black" id="{{item.item.products.product_id}}-minus-btn" field="{{item.item.products.product_id}}-name">-</a>
                                                    {% comment %} <input type="hidden" id="{{item.item.products.product_id}}-url-minus" data-url="{% url 'removesingleitemfromcart' item.item.products.product_id %}"> {% endcomment %}
                                                    <input type="text" name="{{item.item.products.product_id}}-name" id="{{item.item.products.product_id}}-name-value" value="{{item.quantity}}">
                                                    {% comment %} <a href="{% url 'addtocart' item.item.products.product_id %}" class="plus-btn text-black">+</a> {% endcomment %}
                                                    <a class="plus-btn text-black" id="{{item.item.products.product_id}}-plus-btn" field="{{item.item.products.product_id}}-name">+</a>
                                                    {% comment %} <input type="hidden" id="{{item.item.products.product_id}}-url-plus" data-url="{% url 'addtocart' item.item.products.product_id %}"> {% endcomment %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="all-pro-price">
                                        <span id="{{item.item.products.product_id}}-item-dis-price">₹{{item.get_amount_saved|floatformat:0}}</span>
                                        <span class="sell_price" id="{{item.item.products.product_id}}-item-sell-price">₹{{item.get_total_item_price|floatformat:0}}</span>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                                <tr>
                                    <td colspan='5'>Your cart is empty</td>
                                </tr>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <div class="cart-total">
                            <div class="cart-price">
                                <span><b>Summary</b></span>
                            </div>
                            <div class="cart-price">
                                <span>Product</span>
                                <div class="d-flex">
                                    <span class="sell_price" id="sell_price">₹{{object.get_max_total|floatformat:0}}</span>
                                <span class="total color_green" id="dis_price">₹{{object.get_total|floatformat:0}}</span>
                                </div>
                            </div>
                             <div class="cart-price">
                                <span>Delivery</span>
                                <div class="d-flex">
                                    <span class="sell_price">₹20</span>
                                <span class="total color_green">₹{{delivery}}</span>
                                </div>
                            </div>
                            
                            <div class="shop-total">
                                <span><b>Total</b></span>
                                <span class="total-amount" id="grand-total">₹{{grandtotal|floatformat:2}}</span>
                            </div>
                            <a href="{% url 'paymentcheckout' grandtotal%}" class="check-link btn btn-style1">Continue to payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cart end -->
        <!-- jquery -->
        <script src="{% static 'js/modernizr-2.8.3.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <!-- bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- popper -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <!-- fontawesome -->
        <script src="{% static 'js/fontawesome.min.js' %}"></script>
        <!-- swiper -->
        <script src="{% static 'js/swiper.min.js' %}"></script>
        <!-- custom -->
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.js' %}"></script>
        <script src="{% static 'assets/js/jquery.js' %}"></script>
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
        <!-- You can alternatively load the minified version -->
        <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
        <script>
            function showLoader(){
                    $('body').append('<div style="" id="loadingDiv"><div class="loader"><img src="{% static 'css/slick/Rolling-loader-1.gif' %}"></div></div>');
                }
            function hideLoader(){
                $('.loader').hide();
            }

            var getCookie = function (name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };

        const g_csrftoken = getCookie('csrftoken');

        jQuery(document).ready(function(){
            $('.plus-btn').click(function(e){
                showLoader();
                e.preventDefault();
                //fieldName = $(this).attr('field');
                const elementId = $(this).attr('id').split('-')[0]
                console.log(elementId);
                domain = window.location.origin
                path_name = '/buy/api/v1/customer/order/add/' //change-this url
                $.ajax({
                    type: 'POST',
                    url: domain+path_name,
                    data: {
                        "csrfmiddlewaretoken":g_csrftoken,
                        "product" : elementId.toString(),
                        "quantity": "1"
                    },
                    success: function(response) {
                        if (response){
                        //console.log(response);
                        hideLoader();
                        document.getElementById("dis_price").innerHTML = "₹"+response['amount'];
                        document.getElementById("sell_price").innerHTML = "₹"+response['tmax_amount'];
                        document.getElementById("grand-total").innerHTML = "₹"+response['amount'];
                        document.getElementById(elementId+"-item-sell-price").innerHTML = "₹"+response['item_tprice'];
                        document.getElementById(elementId+"-item-dis-price").innerHTML = "₹"+response['item_dprice'];
                        //document.getElementById("quantity").innerHTML = response['qty'];
                        document.getElementById(elementId+"-name-value").value = response['item_qty'];
                        //$("#"+element_id+"-qunt_val").append(response['cart']['items']['quantity'])
                        }
                    }
                })
            });
            $('.add-to-cart').click(function(e){
                e.preventDefault();
                //fieldName = $(this).attr('field');
                const elementId = $(this).attr('id').split('-')[0]
                console.log(elementId);
                domain = window.location.origin
                path_name = '/buy/api/v1/customer/order/add/' //change-this url
                $.ajax({
                type: 'POST',
                url: domain+path_name,
                data: {
                    "csrfmiddlewaretoken":g_csrftoken,
                    "product" : elementId.toString(),
                    "quantity": "1"
                },
                    success: function(response) {
                        if (response){
                        //console.log(response);
                        document.getElementById("cart-amount").innerHTML = "₹"+response['amount'];
                        document.getElementById("quantity").innerHTML = response['qty'];
                        document.getElementById(elementId+"-qunt_val-category").innerHTML = response['item_qty'];
                        }
                    }
                })
            });

            $('.minus-btn').click(function(e){
                showLoader();
                e.preventDefault();
                //fieldName = $(this).attr('field');
                const elementId = $(this).attr('id').split('-')[0]
                console.log(elementId);
                domain = window.location.origin
                path_name = '/buy/api/v1/customer/order/remove/' //change-this url
                $.ajax({
                    type: 'POST',
                    url: domain+path_name,
                    data: {
                        "csrfmiddlewaretoken":g_csrftoken,
                        "product" : elementId.toString(),
                        "quantity": "1" 
                    },
                    success: function(response) {
                        if (response){
                        hideLoader();
                        //console.log(response);
                        document.getElementById("dis_price").innerHTML = "₹"+response['amount'];
                        document.getElementById("sell_price").innerHTML = "₹"+response['tmax_amount'];
                        document.getElementById("grand-total").innerHTML = "₹"+response['amount'];
                        document.getElementById(elementId+"-item-sell-price").innerHTML = "₹"+response['item_tprice'];
                        document.getElementById(elementId+"-item-dis-price").innerHTML = "₹"+response['item_dprice'];
                        //document.getElementById("quantity").innerHTML = response['qty'];
                        document.getElementById(elementId+"-name-value").value = response['item_qty'];
                        if (response['item_qty'] == 0){
                                location.reload(true);
                            }
                        }
                    }
                })
            });
        });


            window.onload = function (){
                var addr = sessionStorage.getItem("Address");
                document.getElementById("c-address-1").innerHTML = addr
            }
            
        </script>
        <script>
      function hidePopLogin() {
        $('#login').hide()
        $('body').css({ "overflow": "auto" })
      }
      function showPopLogin() {
        $('#login').show()
        $('body').css({ "overflow": "hidden" })
      }
      function showPopsearch(em_id) {
    $('#' + em_id).show()
    $('body').css({ "overflow": "hidden" })
  }
  function hidePopsearch(em_id) {
    $('#' + em_id).hide()
    $('body').css({ "overflow": "auto" })
  }
      function showGreenButton(butn, el,len) {
        value = $(el).val()
        if (value.length == len) {
          $('#' + butn).removeAttr("disabled")
          $('#' + butn).attr("type", "submit")
          $('#' + butn).css({ "background-color": "green", "transition": "0.3s" })
        }
        else {
          $('#' + butn).css({ "background-color": "#ccc", "transition": "0.3s" })
          $('#' + butn).attr("disabled")
          $('#' + butn).attr("type", "button")
        }
      }
      function showPopsearch(em_id) {
      $('#' + em_id).show()
      $('body').css({ "overflow": "hidden" })
    }
    </script>
    </body>
</html>