<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>Detail Page</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/favicon" href="image/fevicon.png">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- simple-line icon -->
    <link rel="stylesheet" type="text/css" href="css/simple-line-icons.css">
    <!-- font-awesome icon -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="css/themify-icons.css">
    <!-- ion icon -->
    <link rel="stylesheet" type="text/css" href="css/ionicons.min.css">
    <!-- owl slider -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <!-- swiper -->
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <!-- animation -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- style -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" href="/css/login.css">

</head>

<body class="home-1">
    <!-- login popup start here  -->
    <div class="login-sign-popup" id="login">
        <div class="login col-xl-6 col-lg-6 col-md-6 col-12">
            <div class="head-login">
                <h3 class="text-center content">Phone Number Verification</h3>
                <h3 class="times" onclick="hidePopLogin()">&times;</h3>
            </div>
            <div class="login-body">
                <p id="hide-num-text">Enter your phone number to
                    Login/Sign up</p>
                <p id="hide-otp-text" style="display: none;">Enter the OTP</p>
                <!-- <form action="" method="post"> -->
                <div class="default-box">
                    <div class="phone-box col-xl-6 col-lg-6 col-md-6 col-12">
                        <div class="phone-icon" id="hide-91">+91</div>
                        <input type="tel" class="inputfilter" allow="[0-9]"
                            onkeyup="showGreenButton('button_submit',this)" maxlength="10" minlength="10" name="mobile"
                            id="mobile" placeholder="Enter Number">
                        <input type="tel" class="inputfilter" style="display: none;" allow="[0-9]"
                            onkeyup="showGreenButton('button_otp',this)" maxlength="6" minlength="6" name="otp" id="otp"
                            placeholder="Please Enter OTP">
                    </div>
                </div>
                <p class="error-loction" id="error_login"></p>
                <div class="default-box">
                    <button onclick="get_otp('mobile')" class="col-xl-6 col-lg-6 col-md-6 col-12" id="button_submit"
                        disabled>Next</button>
                    <button onkeyup="verify_otp('otp')" style="display: none;" class="col-xl-6 col-lg-6 col-md-6 col-12"
                        id="button_otp" disabled>Enter OTP</button>
                </div>
                <!-- </form> -->
                <p class="bellow-para">By continuing, you agree to our</p>
                <p class="extra-links"><a href="#">Terms of service</a> <a href="#">Privacy policy</a></p>
            </div>
        </div>
    </div>
    <!-- login popup end here  -->
    <!-- top Control -->
    <div class="topcontrol">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <i class="bi bi-x-circle-fill"></i>
                        <i class="bi bi-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End top Control -->

    <!-- product info start -->
    <section class=" pro-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 pro-image">
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 col-md-6 col-12 col-xs-12 larg-image">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="image-11">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure class="zoom" onmousemove="zoom(event)"
                                            style="background-image: url(img/pro-page-image.jpg)">
                                            <img src="img/pro-page-image.jpg" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="tab-pane fade" id="image-22">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure class="zoom" onmousemove="zoom(event)"
                                            style="background-image: url(img/prro-page-image01.jpg)">
                                            <img src="img/prro-page-image01.jpg" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="tab-pane fade" id="image-33">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure class="zoom" onmousemove="zoom(event)"
                                            style="background-image: url(img/pro-page-image1-1.jpg)">
                                            <img src="img/pro-page-image1-1.jpg" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="tab-pane fade" id="image-44">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure class="zoom" onmousemove="zoom(event)"
                                            style="background-image: url(img/pro-page-image1.jpg)">
                                            <img src="img/pro-page-image1.jpg" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="tab-pane fade" id="image-55">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure class="zoom" onmousemove="zoom(event)"
                                            style="background-image: url(img/pro-page-image2.jpg)">
                                            <img src="img/pro-page-image2.jpg" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="tab-pane fade" id="image-66">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure class="zoom" onmousemove="zoom(event)"
                                            style="background-image: url(img/pro-page-image2-2.jpg)">
                                            <img src="img/pro-page-image2-2.jpg" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="tab-pane fade" id="image-77">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure class="zoom" onmousemove="zoom(event)"
                                            style="background-image: url(img/pro-page-image3.jpg)">
                                            <img src="img/pro-page-image3.jpg" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div>
                                <div class="tab-pane fade" id="image-88">
                                    <a href="javascript:void(0)" class="long-img">
                                        <figure class="zoom" onmousemove="zoom(event)"
                                            style="background-image: url(img/pro-page-image03.jpg)">
                                            <img src="img/pro-page-image03.jpg" class="img-fluid" alt="image">
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-6 col-12 col-xs-12 pro-info">
                            <h4>Health Feast Califonia Almonds Badam Dry Fruit Natural Premium Almonds</h4>
                            <span class="pro-size"><span class="size"></span> 500g</span>
                            <div class="pro-price justify-content-between">
                                <div class="d-flex">
                                    <span class="new-price">₹415</span>
                                    <span class="old-price"><del>₹699</del></span>
                                    <div class="Pro-lable">
                                        <span class="p-discount">40% Off</span>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-style1">ADD</a>
                            </div>
                            <span class="pro-details">About Product</span>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and</p>
                            <div class="pro-btn">
                                <a href="#" class="btn btn-style1 d-flex justify-content-between">
                                    <div><span>1 items</span> | <span> ₹304</span></div>
                                    <div onclick="showPopLogin()"><i class="bi bi-bag"></i> View cart</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product info end -->
    <script>
        function zoom(e) {
            var zoomer = e.currentTarget;
            e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
            e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
            x = offsetX / zoomer.offsetWidth * 100
            y = offsetY / zoomer.offsetHeight * 100
            zoomer.style.backgroundPosition = x + '% ' + y + '%';
        }
    </script>
    <div class="mm-fullscreen-bg"></div>
    <!-- jquery -->
    <script src="js/modernizr-2.8.3.min.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- popper -->
    <script src="js/popper.min.js"></script>
    <!-- fontawesome -->
    <script src="js/fontawesome.min.js"></script>
    <!-- owl carousal -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- swiper -->
    <script src="js/swiper.min.js"></script>
    <!-- custom -->
    <script src="js/custom.js"></script>

    <script>
        function hidePopLogin() {
            $('#login').hide()
            $('body').css({ "overflow": "auto" })
        }
        function showPopLogin() {
            $('#login').show()
            $('body').css({ "overflow": "hidden" })
        }
        function showGreenButton(butn, el) {
            value = $(el).val()
            if (butn == 'button_otp') {
                if (value.length == 6) {
                    $('#' + butn).removeAttr("disabled")
                    $('#' + butn).attr("type", "submit")
                    $('#' + butn).css({ "background-color": "green", "transition": "0.3s" })
                }
                else {
                    $('#' + butn).css({ "background-color": "#ccc", "transition": "0.3s" })
                    $('#' + butn).attr("disabled")
                    $('#' + butn).attr("type", "button")
                }
            }
            else {
                if (value.length == 10) {
                    $('#' + butn).removeAttr("disabled")
                    $('#' + butn).attr("type", "submit")
                    $('#' + butn).css({ "background-color": "green", "transition": "0.3s" })
                }
                else {
                    $('#' + butn).css({ "background-color": "#ccc", "transition": "0.3s" })
                    $('#' + butn).attr("disabled")
                    $('#' + butn).attr("type", "button")
                }
            }
        }

        function get_otp(elm) {
            input = $('#' + elm).val()
            domain = window.location.origin
            //domain = 'https://ashekhar.pythonanywhere.com'
            path_name = '/api/v1/accounts/register/get_otp/'
            $('#error_login').empty()
            $('#button_submit').attr('disabled')
            $.ajax({
                type: 'POST',
                url: domain + path_name,
                data: {
                    "csrfmiddlewaretoken": csrf_token_data,
                    "country_code": "+91",
                    "phone_number": input,
                    "fake_otp": false

                },
                success: function (response) {
                    if (response['Status'] == "Sent") {
                        $('#' + elm).hide()
                        $("#hide-num-text").hide()
                        $("#hide-91").hide()
                        $("#mobile").hide()
                        $('#button_submit').hide()
                        $("#hide-otp-text").show()
                        $("#otp").show()
                        $("#button_otp").show()
                    }
                    else {
                        $("#hide-num-text").hide()
                        $("#hide-91").hide()
                        $("#mobile").hide()
                        $('#button_submit').hide()
                        $("#hide-otp-text").show()
                        $("#otp").show()
                        $("#button_otp").show()
                        $('#error_login').css("color", "red").text("Limit exceeded").show()

                    }
                },
                error: function () {
                    $("#hide-num-text").show()
                    $("#hide-91").show()
                    $("#mobile").show()
                    $('#button_submit').show()
                    $("#hide-otp-text").hide()
                    $("#otp").hide()
                    $("#button_otp").hide()
                }
            });
        }

        function verify_otp(input_id) {
            input = $('#' + input_id).val()
            phone_number = $('#mobile').val()
            if (input.length == 6) {
                $('#error_otp').hide()
                domain = window.location.origin
                path_name = '/api/v1/accounts/register/verify/'
                $.ajax({
                    type: 'POST',
                    url: domain + path_name,
                    data: {
                        "csrfmiddlewaretoken": csrf_token_data,
                        "otp_number": input,
                        "phone_number": phone_number,

                    },
                    success: function (response) {
                        if (response['status']['user']['id']) {
                            $('#error_login').empty()
                            $('#error_login').hide()
                            location.reload(true);
                        }
                        else {
                            $('#error_login').show().append('error') //change this to backend response error.
                        }
                    }

                });
            }
            else if (input.length == 0) {
                $('#error_otp').css("color", "red").text("enter otp")
            }
            else {
                $('#error_otp').css("color", "red").text("Length exceed")
            }
        }
    </script>
</body>

</html>