{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/input-allow.js' %}"></script>

    <title>Privacy Policy</title>
</head>
<body>
    <div class="about" id="contact">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 about-img1">
                <div class="about-img">
                        <img src="{% static '/img/about.webp' %}" alt="background">
                        <h1 class="text-center py-4 color-white">Instant commerce indistinguishable from magic</h1>
                </div>
            </div>
        <div class="container">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 py-3">
                <div class="our-team">
                    <h2 class="text-center">Privacy Policy</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi accusantium sapiente obcaecati explicabo quaerat enim hic quia, sint accusamus sed, voluptates cumque. Similique, iusto tempore.
                    </p>
                    <div class="d-flex flex-wrap our-team-content py-4">
                        <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                            <div class="card">
                                <div class="card-img">
                                    <img src="{% static '/img/team.jfif' %}" alt="team">
                                </div>
                                <div class="card-body">
                                    <div class="team-content">
                                        <h5>Name - Name</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi accusantium sapiente obcaecati explicabo quaerat enim hic quia, sint accusamus sed, voluptates cumque. Similique, iusto tempore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>