{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- title -->
  <title>Detail Page</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="">
  <!-- favicon -->
  <link rel="shortcut icon" type="image/favicon" href="{% static 'image/fevicon.png' %}">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <!-- simple-line icon -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/simple-line-icons.css' %}">
  <!-- font-awesome icon -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <!-- themify icon -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}">
  <!-- ion icon -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}">
  <!-- owl slider -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
  <!-- swiper -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
  <!-- animation -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
  <!-- style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/custome.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
</head>

<body class="home-1">
  <!-- product header start -->
  <div class="about-breadcrumb">
    <div class="about-back section-tb-padding" style="background-image: url({% static 'img/about-image.jpg' %})">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="list-page-header">
              <h1>Search Result</h1>
              {% comment %} <div class="position-relative">
                <i class="bi bi-search serach_icons-list"></i>
                <input type="text" placeholder="What can we get you?">
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- product header end -->
  <!-- product list start -->
  <div class="prod_list-page">
    <div class="container">

      <div class="row">


        {% for prod in products %}
        <div class="col-6 col-sm-6 col-md-3">

          <div class="product_grid mb-4 .mb-md-0">
            <div class="product_img"><a href={% url 'productdetail' prod.products.product_id%}><img
                  src=/media/{{prod.products.prod_mainimage}} alt=""></a></div>
            <div class="product_name">
              <p>{{prod.products.product_name}}</p>
            </div>
            <div class="product_Quantity"><span>{{prod.products.unit}}</span></div>
            <div class="d-flex justify-content-between">
              <div class="product_pirce"><span class="pro_mrp">₹{{prod.list_price}}</span><span
                  class="pro_sell">₹{{prod.products.max_retail_price}}</span>
              </div>
              <a href={% url 'productdetail' prod.products.product_id %} class="btn btn-style1 btn-padding">ADD</a>
            </div>
            <div class="product_dicont"><span>{{prod.discount|floatformat:0|floatformat:0}}% Off</span></div>

          </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% comment %} {% for prod in products %}
  {% if "Trending" in prod.products.pro_category and prod.display_home is True and prod.status is True %}
  <div class="product_grid">
    <div class="product_img">
      <a href={% url 'productdetail' prod.products.product_id%}><img src=/media/{{prod.products.prod_mainimage}}
          alt=""></a>
    </div>
    <div class="product_name">
      <p>{{prod.products.product_name}}</p>
    </div>
    <div class="product_Quantity"><span>{{prod.products.unit}}</span></div>
    <div class="d-flex justify-content-between">
      <div class="product_pirce"><span class="pro_mrp">₹{{prod.list_price}}</span><span
          class="pro_sell">₹{{prod.products.max_retail_price}}</span></div>
      <a href={% url 'productdetail' prod.products.product_id %} class="btn btn-style1 btn-padding">ADD</a>
    </div>
    <div class="product_dicont"><span>{{prod.discount|floatformat:0|floatformat:0}}% Off</span></div>
  </div>
  {% else %}
  <p> No Products available</p>
  {% endif %}
  {% endfor %} {% endcomment %}
  {% comment %} <div class="pro-btn mt-5">


    <div class="container">
      <div class="row">
        <div class="col-12">
          <a href="{% url 'cartview' %}" class="btn btn-style1 d-flex justify-content-between">
            <div><span>{{totalcartitem}} items</span> | <span> {{totalquantity}} Qty</span> | <span>
                ₹{{totalamount}}</span></div>
            <div><i class="bi bi-bag"></i> View cart</div>
          </a>
        </div>
      </div>
    </div>
  </div> {% endcomment %}





  <script>
    function zoom(e) {
      var zoomer = e.currentTarget;
      e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
      e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
      x = offsetX / zoomer.offsetWidth * 100
      y = offsetY / zoomer.offsetHeight * 100
      zoomer.style.backgroundPosition = x + '% ' + y + '%';
    }
  </script>
  <div class="mm-fullscreen-bg"></div>
  <!-- jquery -->
  <script src="{% static 'js/modernizr-2.8.3.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <!-- bootstrap -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- popper -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- fontawesome -->
  <script src="{% static 'js/fontawesome.min.js' %}"></script>
  <!-- owl carousal -->
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <!-- swiper -->
  <script src="{% static 'js/swiper.min.js' %}"></script>
  <!-- custom -->
  <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>