{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/input-allow.js' %}"></script>

    <title>Our Terms & Conditions</title>
</head>
<body>
    <style>
        .term-img{
            width: 100%;
            text-align: center;
        }
        .term-img img{
            width: 20%;
        }
        @media (max-width:500px) {
            .term-img img{
                width: 80%;
            }
            
        }
    </style>
    <div class="about" id="contact">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 about-img1">
                <div class="term-img">
                        <img src="{% static '/img/6.png' %}" alt="background">
                        <!-- <h1 class="text-center py-4 color-white">Instant commerce indistinguishable from magic</h1> -->
                </div>
            </div>
        <div class="container">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 pt-3">
                <div class="our-team">
                    <h2 class="text-center">Terms & Conditions</h2>
                    <p>Welcome to our platform (Platform refers to our Website and App), which is operated by [company name], a company incorporated under the laws of India. You agree to be bound by the following terms and conditions by accessing or using our website and mobile app.</p>
                    <!-- <div class="d-flex flex-wrap our-team-content py-4"> -->
                        <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                            <div class="card">
                                <div class="card-img">
                                    <img src="{% static '/img/team.jfif' %}" alt="team">
                                </div>
                                <div class="card-body">
                                    <div class="team-content">
                                        <h5>Name - Name</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi accusantium sapiente obcaecati explicabo quaerat enim hic quia, sint accusamus sed, voluptates cumque. Similique, iusto tempore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    <!-- </div> -->
                </div>
                <h3> User Account</h3>
                <p>To use our website and mobile app, you may need to create an account. While creating your account, you must provide accurate and complete information. You are responsible for maintaining the confidentiality of your account details and password, and for all activities that occur under your account.</p>

                


                <h3> Eligibility</h3>
                <p>To use our website and/or mobile application, you must be at least 18 years old or have parental consent.</p>

                


                <h3> Product Information</h3>
                <p>We make every effort to provide accurate and up-to-date information about our products on our website and mobile app. However, we do not warrant that the descriptions, pricing, colour, packing, availability or other content on our website and mobile app is accurate, complete, reliable, current, or error-free.</p>

                


                <h3> Ordering and Delivery</h3>
                <p>When you place an order on our website or mobile app, you agree to pay the price shown on the website or mobile app at the time of placing the order. We reserve the right to refuse or to limit quantities of any order that we believe may be fraudulent or for any other reason. Delivery charges may apply and will be shown at checkout. We will try our best to deliver your order within the estimated delivery time. However, delivery timelines may vary depending on various factors such as availability of products, location, and weather conditions.
                </p>

                
                <h3> Product Availability</h3>
                <p>We make every effort to ensure that the products listed on the platform are available for purchase. However, we cannot promise that every items will be in stock at all times.</p>

                

                <h3> Products and Services</h3>
                <p>We offer a variety of products and services on our website and mobile app, including but not limited to grocery items, household supplies, personal care items, and other related products. The products and services may vary from time to time and are subject to availability.</p>

                

                <h3> Pricing</h3>
                <p>We make every effort to ensure that our prices are accurate and up-to-date. However, we reserve the right to make change our prices at any time without prior notice. The prices can vary in different stores. The prices listed on the website and mobile app are inclusive of all taxes, unless specified otherwise.</p>

                


                <h3> Payment</h3>
                <p>Payment can be made through various methods such as debit/credit cards, net banking, digital wallets and cash on delivery (COD). Any charges associated with the payment method will be displayed during checkout. </p>

                

                <h3> Cancellation and Refunds</h3>
                <p>You may cancel your order at any time before it has been dispatched. We may also cancel your order if we are unable to fulfil it. If you are not satisfied with the quality of the product received, please contact us within 24 hours of delivery to arrange for a refund or replacement.</p>

                


                <h3> Intellectual Property</h3>
                <p> All content and materials on the platform, including but not limited to text, graphics, logos, images, and software, are the property of our company and are protected by intellectual property laws. The user may not use, copy, reproduce, distribute, or modify any content or materials without the prior written consent of the online grocery store.</p>

               


                <h3> Disclaimers and Limitations of Liability</h3>
                <p>We make no representations or warranties of any kind, express or implied, regarding the products offered on our website and/or mobile application. We will not be liable for any direct, indirect, incidental, special, or consequential damages arising from the use of our website and/or mobile application or the purchase of products.</p>

                

                <h3> Modification</h3>
                <p>We reserve the right to change these Terms and Conditions at any time without prior notice. Your continued use of our platform and our services after any such modifications constitutes your acceptance of the modified Terms and Conditions.</p>

                


                <h3> Privacy policy</h3>
                <p>We collect personal information from customers such as name, address, phone number, and email address. The store will use this information solely for the purpose of fulfilling orders and may share it with third-party service providers such as delivery partners.</p>

                


                <h3> Governing Law and Jurisdiction</h3>
                <p>These terms and conditions shall be governed by and construed in accordance with the laws of India. Any disputes arising out of or in connection with these terms and conditions shall be subject to the exclusive jurisdiction of the courts of India.</p>

                


                <h3> Contact Information</h3>
                <p>If you have any questions about these terms and conditions, please contact us at [email address].</p>

                

            </div>
        </div>
    </div>
</body>
</html>